	<script src="//platform.linkedin.com/in.js" type="text/javascript">
	  lang: en_US
	</script>
	<script type="text/javascript">
		//Facebook
		(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.0"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));

		//Twitter
		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

		//Google+
		(function() { var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true; po.src = 'https://apis.google.com/js/platform.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s); })();
	</script>


<div class="row">

	<div class="medium-3 large-3 columns">
		<div class="socialbtn facebook">
			<p><i class="fa fa-facebook-square"></i></p>
			<div class="fb-like" style="top: -7px;"data-href="https://www.facebook.com/groupmates" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
		</div>
	</div>

	<div class="medium-3 large-3 columns">
		<div class="socialbtn twitter">
			<p><i class="fa fa-twitter-square"></i></p>
			<a href="https://twitter.com/Groupmates_uk" data-show-count="true" data-show-screen-name="false" class="twitter-follow-button" data-show-count="false" data-width="132px">Follow</a>
		</div>
	</div>

	<div class="medium-3 large-3 columns">
		<div class="socialbtn googleplus">
			<p><i class="fa fa-google-plus-square"></i></p>
			<div class="g-follow" data-annotation="bubble" data-height="20" data-href="https://plus.google.com/109784277635889448228" data-rel="publisher"></div>
		</div>
	</div>

	<div class="medium-3 large-3 columns">
		<div class="socialbtn linkedin">
			<p><i class="fa fa-linkedin-square"></i></p>
			<script type="IN/FollowCompany" data-id="4836043" data-counter="right"></script type="IN/FollowCompany" data-id="4836043" data-counter="right"></script>
		</div>
	</div>

</div>
