<div class="row">
	<div class="large-12 columns">
		<h1>Cookies policy</h1>
		<hr>
		<h3>1. Introduction</h3>
		<p>1.1 Our website uses cookies.</p>
		<p>1.2 [We will ask you to consent to our use of cookies in accordance with the terms of this policy when you first visit our website. / By using our website and agreeing to this policy, you consent to our use of cookies in accordance with the terms of this policy.]</p>
		<h3>2. Credit</h3>
		<p>2.1 This document was created using a template from SEQ Legal (http://www.seqlegal.com).</p>
		<h3>3. About cookies</h3>
		<p>3.1 A cookie is a file containing an identifier (a string of letters and numbers) that is sent by a web server to a web browser and is stored by the browser. The identifier is then sent back to the server each time the browser requests a page from the server.</p>
		<p>3.2 Cookies may be either "persistent" cookies or "session" cookies: a persistent cookie will be stored by a web browser and will remain valid until its set expiry date, unless deleted by the user before the expiry date; a session cookie, on the other hand, will expire at the end of the user session, when the web browser is closed. </p>
		<p>3.3 Cookies do not typically contain any information that personally identifies a user, but personal information that we store about you may be linked to the information stored in and obtained from cookies.</p>
		<p>3.4 Cookies can be used by web servers to identity and track users as they navigate different pages on a website and identify users returning to a website.</p>
		<h3>4. Our cookies</h3>
		<p>4.1 We use both session cookies and persistent cookies on our website. Our cookies  have the following names:</p>
		<ul>
			<li>_groupmates_session : an unique ID for each visitor</li>
			<li>remember_me_token: to keep a user signed in</li>
			<li>invitation_token: allows a user to join a Groupmates project</li>
		</ul>
		<p>4.2 We use cookies on our website to do things like:</p>
		<ul>
			<li>(a) Make Groupmates easier and faster to use </li>
			<li>(b) Enable features and store information about you (including on your device or in your browser cache) and your use of Groupmates</li>
			<li>(c)  Monitor and understand the use of our products and services; and,</li>
			<li>(d) Protect you, others and Groupmates</li>
		</ul>
		<h3>5. Analytics cookies</h3>
		<p>5.1 We use Google Analytics to analyse the use of our website.</p>
		<p>5.2 Our analytics service provider generates statistical and other information about website use by means of cookies.</p>
		<p>5.3 The analytics cookies used by our website have the following names: </p>
		<ul>
			<li>_ga (Google Analytics)</li>
		</ul>
		<p>5.4 The information generated relating to our website is used to create reports about the use of our website.</p>
		<p>5.5 Our analytics service provider's privacy policy is available at: http://www.google.com/policies/privacy/.</p>
		<h3>6. Third party cookies</h3>
		<p>6.1 Our website also uses third party cookies.</p>
		<p>6.3 Details of [other] third party cookies used by our website are set out below:</p>
		<ul>
			<li>Cookie consent: cc_social, cc_analytics</li>
		</ul>
		<h3>7. Blocking cookies</h3>
		<p>7.1 Most browsers allow you to refuse to accept cookies; for example: </p>
		<ul>
			<li>(a) in Internet Explorer (version 10) you can block cookies using the cookie handling override settings available by clicking "Tools", "Internet Options", "Privacy" and then "Advanced";</li>
			<li>(b) in Firefox (version 24) you can block all cookies by clicking "Tools", "Options", "Privacy", selecting "Use custom settings for history" from the drop-down menu, and unticking "Accept cookies from sites"; and</li>
			<li>(c) in Chrome (version 29), you can block all cookies by accessing the "Customise and control" menu, and clicking "Settings", "Show advanced settings" and "Content settings", and then selecting "Block sites from setting any data" under the "Cookies" heading.</li>
		</ul>
		<p>7.2 Blocking all cookies will have a negative impact upon the usability of many websites.</p>
		<p>7.3 [If you block cookies, you will not be able to use all the features on our website.]</p>
		<h3> 8. Deleting cookies</h3>
		<p>8.1 You can delete cookies already stored on your computer; for example:</p>
		<ul>
			<li>(a) in Internet Explorer (version 10), you must manually delete cookie files (you can find instructions for doing so at http://support.microsoft.com/kb/278835);</li>
			<li>(b) in Firefox (version 24), you can delete cookies by clicking "Tools", "Options" and "Privacy", then selecting "Use custom settings for history", clicking "Show Cookies", and then clicking "Remove All Cookies"; and</li>
			<li>(c) in Chrome (version 29), you can delete all cookies by accessing the "Customise and control" menu, and clicking "Settings", "Show advanced settings" and "Clear browsing data", and then selecting "Delete cookies and other site and plug-in data" before clicking "Clear browsing data".</li>
		</ul>
		<p>8.2 Deleting cookies will have a negative impact on the usability of many websites.</p>
		<h3>9. Cookie preferences</h3>
		<p>9.1 You can manage your preferences relating to the use of cookies in your browser’s settings.</p>
		<h3>10. Our details</h3>
		<p>10.1 This website is owned and operated by Groupmates LTD.</p>
		<p>10.2 We are registered in Scotland under registration number 494062, and our registered office is at 8/5 Sienna Gardens, Edinburgh, Scotland, EH9 1PG.</p>
		<p>10.3 Our principal place of business is at 8/5 Sienna Gardens, Edinburgh, Scotland, EH9 1PG.</p>
		<p>10.4 You can contact us by writing to the business address given above, by using our website contact form, by email to info@groupmates.uk or by telephone on +44 (0)7 858009627.</p>
	</div></div>