<section id="education">

	<article class="row">
		<div class="small-12 medium-12 large-12 columns">

		<h1 class="text-center">Education</h1>

		<p>
			Groupmates application is designed to improve collaboration performance online, where groups can communicate, learn, share knowledge, and build common consensus while working towards common goals. We believe this educational experience will lead to more effective interaction between a teacher, student, and student groups.
		</p>
		<hr>
		</div>
	</article>

	<article class="row">
		<div class="small-12 medium-7 large-8 medium-7-push large-8-push  columns">
			<h2>Students</h2>

			<h4>Collaboration</h4>

			<p>Academic and collaborative online platforms have proven to be unengaging. Distractions hindering online engagement, create a lack of focus for teams and their project work. Our purpose is to return students to their academic collaboration, making them a cohesive team, through a social media network with academic productivity.</p>
 
			<p>Groupmates offers collaboration where communication, planning, and files storage features are developed from the students’ perspective. The application is based on their feedback and suggestions, enabling us to concentrate on the collaboration aspects in depth. Additionally, the use of the newest technology enables us to deliver the functionality students need in a simple and secure location.</p>
 
			<p>The result is a more cohesive, collaborative, and efficient teamwork that enables students to effectively progress in creating, storing, and applying collective knowledge.</p>
			<br>
		</div>

		<div class="small-12 medium-5-pull medium-5 large-4 large-4-pull columns">
			<%= image_tag "collaboration-for-students.jpg", class: "circle hide-for-small-only" %>
		</div>
	</article>

	<article class="row">
		<div class="medium-5 large-4 columns">
			<%= image_tag "educators.png", class: "circle hide-for-small-only" %>
		</div>
		<div class="medium-7 large-8 columns">

	 		<h2>Educators</h2>
			
			<h4>Efficient Engagement</h4>
	 
 			<p>The majority of university projects are completed whilst collaborating online. Many students choose to collaborate using social network applications over emails and educators face hardships participating in the projects.Groupmates was designed with educators in mind. It is an approachable and accessible tool allowing for energy saving assistance.</p>
 
			<p>Groupmates allows students and professors to work together effectively, maintaining two way online communications. This can be done with the whole group or on a one-to-one basis. The communications happen in real time and includes assistance in provision of Q&A sessions, feedback and suggestions. </p>

			<p>The platform enables the educator to manage group activities, performance, and evaluating outcomes of a project.</p><br>
		</div>

	</article>

	<article class="row">

		<div class="medium-7 large-8 columns">

	 		<h2>Universities</h2>
			
			<h4>Improved Experience</h4>
	 
			<p>We focus on team collaboration experience and we are pleased that universities and other academic institutions accept our innovative technology. Working together, we strive for the common purpose: to improve students’ productivity and achieve greater results. As a result we provide more success stories leading to higher standards.</p>
 
			<p>Our cutting edge technology is designed to make educational collaboration interesting and more engaging. Furthermore, we pay attention to productivity aspects and enable groups to learn collaboration in a way that meets their needs overcoming barriers to study in groups.</p>
 
			<p>Complying with university policies, the application is kept on your internal servers, where sensitive project data is secured.  The academic institution has full control over the data, which can be used for  analysis and statistical information helping to improve educational experience.</p>

		</div>
		<div class="small-12 medium-5-pull medium-5 large-4 large-4-pull columns">
			<%= image_tag "universities.png", class: "circle hide-for-small-only" %>
		</div>
	</article>
</section>

<section id="subscribe">
	<div class="row">
		<div class="large-12 columns text-center">
			<strong>Our experts will work closely to match the best solution for your institution's needs.</strong><br> 
			<br>
			<a href="<%= url_for contact_path %>" class="button warning">Contact us</a>
		</div>
	</div>
</section>