<section id="features">

	<article class="row">
		<div class="small-12 medium-12 large-12 columns">

		<h4 class="text-center">
			All the elements you need, adapted to make your team the most effective possible
		</h4>
		<%= image_tag "groupmates-app.png" %>
		</div>
	</article>

	<article class="row">
		<div class="small-7 medium-7 large-7 columns">
			<h3>Messenger</h3>

			<p>Our intelligent real­time messenger is designed to simplify communication by enabling you to categorise messages. To avoid information disappearing in the flow of the conversation, the messenger is fully searchable, making any message accessible at anytime.</p>

			<p>Your team can discuss various aspects having one-on-one conversation, a conversation among a few colleagues, or the whole project team. Your messages containing important information can be made favorite by clicking on the star. These will automatically be available in your notes.</p>

			<p>Links, video, images, and more from services such as Twitter, Flickr, Youtube can be nicely embedded in your messages by copy/pasting the URL.</p>
		</div>
		<div class="small-5 medium-5 large-5 columns">
		</div>
	</article>

	<article class="row">
		<div class="small-7 medium-7 large-7 columns">
			<h3>Files</h3>

			<p>Our intelligent real­time messenger is designed to simplify communication by enabling you to categorise messages. To avoid information disappearing in the flow of the conversation, the messenger is fully searchable, making any message accessible at anytime.</p>

			<p>Your team can discuss various aspects having one-on-one conversation, a conversation among a few colleagues, or the whole project team. Your messages containing important information can be made favorite by clicking on the star. These will automatically be available in your notes.</p>

			<p>Links, video, images, and more from services such as Twitter, Flickr, Youtube can be nicely embedded in your messages by copy/pasting the URL.</p>
		</div>
		<div class="small-5 medium-5 large-5 columns">
		</div>
	</article>


</section>


<section id="subscribe">
	<div class="row">
		<div class="large-12 columns text-center">
			<strong>Our experts will work closely to match the best solution for your institution's needs.</strong><br> 
			<br>
			<a href="<%= url_for contact_path %>" class="button warning">Contact us</a>
		</div>
	</div>
</section>