
<h1 class="text-center">Developers behind Groupmates</h1>

<section id="team">

	<hr>

	<article class="row">
		<div class="small-12 medium-3 large-3 columns">
			<%= image_tag "team/thomas-quiroga.jpg", class: "circle-gm" %>
		</div>
		<div class="small-10 medium-7 large-7 columns">
			<h2>Thomas Quiroga</h2>
			<h6>CTO & Co-Founder</h6>
			<p>Such a magician, he turns coffee into code. He is the man in charge of the website and mobile applications. Managing the dev team, he makes sure that development progresses in the right way.</p>
			<blockquote>It always looks impossible until it's done.<cite>Nelson Mandela</cite></blockquote>
		</div>
		<div class="small-2 medium-2 large-2 columns">
			<ul>
				<li><a target="_blank" href="http://thomas.quiroga.fr"><i class="fa fa-globe"></i></a></li>
				<li><a target="_blank" href="https://twitter.com/Thomas_Quiroga"><i class="fa fa-twitter-square twitter"></i></a></li>
				<li><a target="_blank" href="http://uk.linkedin.com/in/thomasquiroga"><i class="fa fa-linkedin-square linkedin"></i></a></li>
				<li><a target="_blank" href="https://plus.google.com/u/0/+ThomasQuirogaDev"><i class="fa fa-google-plus-square google"></i></a></li>
			</ul>
		</div>
	</article>

	<hr>

	<article class="row">
		<div class="small-12 medium-3 large-3 columns">
			<%= image_tag "team/daniel-koudouna.jpg", class: "circle-gm" %>
		</div>
		<div class="small-10 medium-7 large-7 columns">
			<h2>Daniel Koudouna</h2>
			<h6>Developer Web</h6>
			<p>Second year student who is passionately curious about Computer Science. He is a fast learner and dives into technical documentations to achieve all the challenges he has to face.</p>
			<blockquote>The only true wisdom is in knowing you know nothing.<cite>Socrates</cite></blockquote>
		</div>
		<div class="small-2 medium-2 large-2 columns">
			<ul>
				<li><a target="_blank" href="https://twitter.com/daniel_koudouna"><i class="fa fa-twitter-square twitter"></i></a></li>
				<li><a target="_blank" href="http://uk.linkedin.com/pub/daniel-koudouna/b1/193/825"><i class="fa fa-linkedin-square linkedin"></i></a></li>
				<li><a target="_blank" href="https://plus.google.com/u/0/109253990340929469781/"><i class="fa fa-google-plus-square google"></i></a></li>
			</ul>
		</div>
	</article>

	<hr>

	<article class="row">
		<div class="small-12 medium-3 large-3 columns">
			<%= image_tag "team/dale-conroy.jpg", class: "circle-gm" %>
		</div>
		<div class="small-10 medium-7 large-7 columns">
			<h2>Dale Conroy</h2>
			<h6></h6>
			<p>Final year Computer Science student at Stirling University. He strives to complete any challenge given - the more challenging, the better. Passion drives him, motivation follows.</p>
			<blockquote>The computing scientist’s main challenge is not to get confused by the complexities of his own making.<cite>E. W. Dijkstra</cite></blockquote>
		</div>
		<div class="small-2 medium-2 large-2 columns">
			<ul>
				<li><a target="_blank" href="http://dandal.co.uk/"><i class="fa fa-globe"></i></a></li>
				<li><a target="_blank" href="https://twitter.com/dale__conroy"><i class="fa fa-twitter-square twitter"></i></a></li>
				<li><a target="_blank" href="https://uk.linkedin.com/pub/dale-conroy/83/1a4/1aa"><i class="fa fa-linkedin-square linkedin"></i></a></li>
			</ul>
		</div>
	</article>

	<hr>

	<article class="row">
		<div class="small-12 medium-3 large-3 columns">
			<span class="circle-gm placeholder"> </span>
		</div>
		<div class="small-12 medium-9 large-9 columns">
			<h2>You?</h2>
			<h6>Passionate, Curious, Ambitious</h6>
			<p>If you want to be part of that initiative and believe into a better education</p>
			<blockquote>The future belongs to those who believe in the beauty of their dreams.<cite>Eleanor Roosevelt</cite></blockquote>
			<a class="button" href="<%= url_for contact_path %>">Contact us</a>
		</div>
	</article>

	<br>

</section>
