<section id="server_error">
	<div class="row">
		<div class="large-5 columns">
			<img src="/assets/logo500.png" alt="2 focus">
		</div>		
		<div class="large-7 columns">
			<br>
			<h1>Sorry...<br>It's not your fault.<br>It's our's.</h1><br>
			<h2>We are dealing with some internal server problem.<br>Please come back later or 
				<a href = "https://groupmates.freshdesk.com/support/home">contact</a> us.
			</h2>
		</div>
	</div>
</section>