<section id="not_found">
	<div class="row">
		<div class="large-5 columns">
			<img src="/assets/logo404.png" alt="2 focus">
		</div>		
		<div class="large-7 columns">
			<br>
			<h1>It's looking like you may have taken a wrong turn.</h1><br>
			<h2>Use the navigation bar, or press <%= link_to "here", root_path %> to get back on the track.
				<br>If this error keeps occuring, feel free to <a href = "https://groupmates.freshdesk.com/support/home">contact</a> support team. 
			</h2>
		</div>
	</div>
</section>